<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MinorProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BasicServletDemo</display-name>
    <servlet-name>BasicServletDemo</servlet-name>
    <servlet-class>Hlo.BasicServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServletDemo</servlet-name>
    <url-pattern>/BasicServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>Hlo.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet</display-name>
    <servlet-name>BasicServlet</servlet-name>
    <servlet-class>Hlo.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet</servlet-name>
    <url-pattern>/BasicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessImage</display-name>
    <servlet-name>AccessImage</servlet-name>
    <servlet-class>Hlo.AccessImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessImage</servlet-name>
    <url-pattern>/AccessImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicServlet1</display-name>
    <servlet-name>BasicServlet1</servlet-name>
    <servlet-class>Hlo.BasicServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicServlet1</servlet-name>
    <url-pattern>/BasicServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProductServlet</display-name>
    <servlet-name>MyProductServlet</servlet-name>
    <servlet-class>Hlo.MyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProductServlet</servlet-name>
    <url-pattern>/MyProductServlet</url-pattern>
  </servlet-mapping>
</web-app>